---
title: "Forgotten Heroes"
description: "Rediscover the unsung legends who left an indelible mark on the footballing world but have faded from the spotlight. Our Forgotten Heroes section pays homage to the players, coaches, and pivotal figures who played pivotal roles in the sport's history. "
preloadImg: "/assets/images/hero.webp"
permalink: "forgotten-heroes/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}"
pagination:
    data: collections.forgotten-heroes
    size: 4
    alias: pageNumber
    reverse: true
eleventyNavigation:
    key: Forgotten Heroes
    order: 1
    parent: Chronicles
---

<!-- With 11ty pagination, we replace collections.key (Ex. collections.milestones) with pagination.items and set the data attricbute to the collections.key -->


{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/blog.css" />
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Forgotten Heroes</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/hero-m.webp" />
        <source media="(min-width: 601px)" srcset="/assets/images/hero.webp" />
        <img aria-hidden="true" decoding="async" src="/assets/images/hero.webp" alt="Camp Nou" loading="eager" width="2500" height="1667" />
    </picture>
</section>

<!-- ============================================ -->
<!--              Main Blog Content               -->
<!-- ============================================ -->

<div class="blog-container main-content-wrapper">
    {% include 'components/featured-post.html' %}

    <!--Main content -->
    <div class="main-content" id="article-div">
            <!-- ============================================ -->
            <!--            History Articles Only             -->
            <!-- ============================================ -->
            {% if pagination.items | length == 0 %}
            <h1>No Recent Posts</h1>
            {% else %} {%- for post in pagination.items -%}
            <article class="recent-articles">
                <!--Main Article Image-->
                <picture class="blog-mainImage">
                    <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}" width="795" height="400" decoding="async" />
                </picture>
                <!--Article Info-->
                <div class="article-group">
                    <div class="blog-authorGroup">
                        <!--Author Image-->
                        <picture class="blog-author-img">
                            <img src="/assets/favicons/apple-touch-icon.png" alt="house" width="32" height="32" decoding="async" />
                        </picture>
                        <span class="blog-author">{{ post.data.author }}</span>
                        <span aria-hidden="true" class="blog-dot"></span>
                        <!--Blog Date-->
                        <span class="blog-date">{{ post.date | postDate }}</span>
                    </div>
                    <h2 class="blog-h1">{{ post.data.title }}</h2>
                    <p class="blog-desc">{{ post.data.description }}</p>
                    <a href="{{ post.url }}" class="blog-link">Continue Reading</a>
                </div>
            </article>
            {%- endfor -%} {% endif %} 
            
        </div>
        <div class="pagination-div">
            {% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Previous Page</a>{% endif %}
        
            {% if pagination.href.next %}<a href="{{ pagination.href.next }}">Next Page</a>{% endif %}   
        </div>
    </div>
    {% endblock %}
</div>
