/* PAGE-SPECIFIC STYLES FOR THE BLOG AND ARTICLE PAGES */
/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  body,
  html,
  * {
    font-size: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }
  .black-bg {
    background-color: #202020;
  }
  .yellow-bg {
    background-color: #202020;
  }
  .blog-container {
    width: 94%;
    max-width: 85em;
    margin: auto;
  }
  .blog-link {
    font-style: italic;
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: auto;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    color: #ff0000;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    z-index: 1;
    transition: color 0.3s;
  }
  .blog-link:before {
    content: "";
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #ff0000;
    opacity: 0;
    border: 1px solid var(--headerColor);
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    z-index: -1;
    transition: opacity 0.3s;
  }
  .blog-link:hover {
    color: var(--headerColor);
  }
  .blog-link:hover:before {
    opacity: 1;
  }
}
/*-- -------------------------- -->
<---           Header           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #header {
    position: relative;
    z-index: 1;
  }
  #header .blog-container {
    padding: clamp(100px, 14vw, 200px) 0 clamp(50px, 11vw, 100px);
  }
  #header .blog-header {
    font-size: clamp(24px, 4vw, 48px);
    font-weight: 700;
    line-height: 1.2em;
    text-align: left;
    width: 100%;
    margin: 0;
    color: #000000;
  }
  #header .blog-bg {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #header .blog-bg:before {
    /* color overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #header .blog-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/*-- -------------------------- -->
<---   Interior Page Header     -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #int-hero {
    min-height: 30vh;
    padding-top: 3.125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  #int-hero:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #int-hero picture {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }
  #int-hero picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #int-hero h1 {
    font-family: var(--topperFont);
    font-style: italic;
    font-size: 2.1333333333rem;
    text-align: center;
    width: 96%;
    max-width: 33.25rem;
    margin: 0 auto;
    margin-top: 4.375rem;
    margin-bottom: 1.875rem;
    color: #fff;
    position: relative;
  }
  #int-hero p {
    text-align: center;
    width: 96%;
    max-width: 25rem;
    margin: auto;
    margin-bottom: 1.875rem;
    color: #fff;
    display: block;
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  .black-bg {
    background-color: #000000;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 13%, 1)'/><path d='M0 40h40m-10-5.578v11.156M10 34.422v11.156M30-5.578V5.578M10-5.578V5.578M0 14.987v11.156m40-11.156v11.156M20 14.422v11.156M0 20h40M0 0h40'  stroke-linejoin='round' stroke-linecap='round' stroke-width='1' stroke='hsla(53, 99%, 50%, 0.05)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  }
  .yellow-bg {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 13%, 1)'/><path d='M0 40h40m-10-5.578v11.156M10 34.422v11.156M30-5.578V5.578M10-5.578V5.578M0 14.987v11.156m40-11.156v11.156M20 14.422v11.156M0 20h40M0 0h40'  stroke-linejoin='round' stroke-linecap='round' stroke-width='1' stroke='hsla(53, 99%, 50%, 0.05)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  }
  #int-hero {
    font-size: 100%;
  }
  #int-hero h1 {
    font-size: 4rem;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #int-hero {
    font-size: inherit;
    height: auto;
    min-height: 18.75rem;
    padding-top: 11.25rem;
    background-attachment: fixed;
    padding-block-end: 6.25rem;
  }
}
/*-- -------------------------- -->
<---        Main Content        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  .blog-container {
    padding: clamp(60px, 7vw, 100px) 0;
  }
  .main-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3.125em;
  }
  .blog-sidebar:nth-child(1) {
    order: 1;
  }
  .main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3.125em;
  }
}
/* Tablet - 1024px */
@media only screen and (min-width: 64em) {
  .main-content-wrapper {
    align-items: flex-start;
    column-gap: 1.25em;
  }
}
.article-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(50% - 1rem), 1fr));
  align-items: stretch;
  column-gap: 1rem;
}

/*-- -------------------------- -->
<---    Recent Blog Articles    -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  .recent-articles {
    width: 100%;
    max-width: 49.6875em;
    overflow: hidden;
    flex: none;
    font-family: var(--bodyFont);
    border-radius: 0.5em;
    box-shadow: -1px 7px 10px 4px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: -1px 7px 10px 4px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: -1px 7px 10px 4px rgba(0, 0, 0, 0.28);
    z-index: 0;
    position: relative;
  }
  .recent-articles .blog-mainImage {
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
    display: block;
    position: absolute;
    overflow: hidden;
    opacity: 1;
    z-index: -1;
  }
  .recent-articles .blog-mainImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }
  .recent-articles .article-group {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6039215686);
    padding: clamp(30px, 5vw, 50px);
    border-radius: 0.5em;
    border: 1px solid #bea800;
    z-index: 1;
  }
  .recent-articles .blog-author-img {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: block;
    position: relative;
    overflow: hidden;
  }
  .recent-articles .blog-author-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  .recent-articles .blog-authorGroup {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
  }
  .recent-articles .blog-author,
  .recent-articles .blog-date {
    font-size: 0.875rem;
    line-height: 1.5em;
    color: rgba(255, 255, 255, 0.72);
  }
  .recent-articles .blog-dot {
    width: 3px;
    height: 3px;
    background-color: var(--primary);
    border-radius: 50%;
    display: block;
  }
  .recent-articles .blog-h1 {
    font-size: clamp(20px, 5vw, 32px);
    font-style: italic;
    font-weight: 700;
    line-height: 1.2em;
    margin: 1rem 0;
    color: whitesmoke;
  }
  .recent-articles .blog-desc {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 1rem 0 2rem;
    color: rgba(231, 231, 231, 0.76);
  }
  .recent-articles .blog-link {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: auto;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    color: #000000;
    background-color: var(--primary);
    border-radius: 0.35rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
  }
  .recent-articles .blog-link:before {
    content: "";
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: white;
    opacity: 0;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    z-index: -1;
    transition: opacity 0.3s;
  }
  .recent-articles .blog-link:hover {
    color: black;
  }
  .recent-articles .blog-link:hover:before {
    opacity: 1;
  }
}
/* Mobile - 1024px */
@media only screen and (min-width: 64em) {
  .recent-articles .blog-h1 {
    max-width: 31.25rem;
  }
  .recent-articles .article-group {
    border: none;
  }
}
/*-- -------------------------- -->
<---          Sidebar           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  .blog-sidebar {
    width: 100%;
    max-width: 49.6875em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3.125em;
  }
  .blog-sidebar .blog-featured-group {
    width: 100%;
    padding: 2.1875em 1.875em;
    border: 1px solid black;
    border-radius: 0.5em;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='69.141' height='40' patternTransform='scale(1) rotate(35)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 5%, 1)'/><path d='M69.212 40H46.118L34.57 20 46.118 0h23.094l11.547 20zM57.665 60H34.57L23.023 40 34.57 20h23.095l11.547 20zm0-40H34.57L23.023 0 34.57-20h23.095L69.212 0zM34.57 60H11.476L-.07 40l11.547-20h23.095l11.547 20zm0-40H11.476L-.07 0l11.547-20h23.095L46.118 0zM23.023 40H-.07l-11.547-20L-.07 0h23.094L34.57 20z'  stroke-width='0.5' stroke='hsla(259, 0%, 100%, 0.02)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: -1px 7px 10px 4px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: -1px 7px 10px 4px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: -1px 7px 10px 4px rgba(0, 0, 0, 0.28);
  }
  .blog-sidebar .featured-div {
    width: 100%;
  }
  .blog-sidebar .blog-header {
    font-family: var(--bodyFont);
    font-style: italic;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    color: whitesmoke;
    display: block;
    position: relative;
  }
  .blog-sidebar .blog-header:after {
    content: "";
    width: 100%;
    height: 1px;
    margin: 0.5rem auto;
    background: whitesmoke;
    border-radius: 0.25rem;
    display: block;
    position: relative;
  }
  .blog-sidebar .blog-feature {
    text-decoration: none;
    width: 100%;
    padding: 1.25rem 0;
    border-bottom: 1px solid #ebebeb;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    column-gap: 1.5em;
  }
  .blog-sidebar .blog-feature:nth-of-type(1) {
    padding-top: 0;
  }
  .blog-sidebar .blog-feature:last-of-type {
    padding-bottom: 0;
    border: none;
  }
  .blog-sidebar .blog-featureImage {
    width: 3.75em;
    height: 3.75em;
    border-radius: 50%;
    display: block;
    position: relative;
    overflow: hidden;
    flex: none;
  }
  .blog-sidebar .blog-featureImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  .blog-sidebar .feature-h3 {
    font-family: var(--bodyFont);
    font-style: italic;
    font-size: 0.9375rem;
    font-weight: 700;
    line-height: 1.5em;
    text-decoration: none;
    margin: 0;
    margin-bottom: 2px;
    color: var(--primaryLight);
    display: block;
  }
  .blog-sidebar .feature-h3:hover {
    border-bottom: 2px solid var(--primaryLight);
  }
  .blog-sidebar .feature-date {
    font-size: 0.875rem;
    line-height: 1.5em;
    color: whitesmoke;
    display: block;
  }
}
/* Tablet - 1024px */
@media only screen and (min-width: 64em) {
  .blog-sidebar {
    max-width: 100%;
  }
  .featured-div {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
  }
  .blog-sidebar .blog-feature {
    border-bottom: none;
    padding: 0;
  }
}
/*-- -------------------------- -->
<---        Blog Articles       -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  .blog-article {
    width: 100%;
    max-width: 49.6875em;
    display: block;
    font-family: var(--bodyFont);
    color: var(--bodyTextColorWhite);
  }
  .blog-article .blog-mainImage {
    width: 100%;
    height: clamp(200px, 30vw, 400px);
    margin-bottom: 3.125em;
    border-radius: 0.5em;
    display: block;
    position: relative;
    overflow: hidden;
  }
  .blog-article .blog-mainImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  .blog-article .blog-author-img {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: block;
    position: relative;
    overflow: hidden;
  }
  .blog-article .blog-author-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  .blog-article .blog-authorGroup {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
  }
  .blog-article .blog-author,
  .blog-article .blog-date {
    font-size: 0.875rem;
    line-height: 1.5em;
    color: var(--primaryLight);
  }
  .blog-article .blog-dot {
    width: 3px;
    height: 3px;
    background-color: var(--primary);
    border-radius: 50%;
    display: block;
  }
  .blog-article .blog-h1 {
    font-style: italic;
    font-size: clamp(20px, 5vw, 39px);
    font-weight: 700;
    line-height: 1.4em;
    max-width: 34.375rem;
    margin: 1rem 0;
    color: var(--headerColor);
  }
  .blog-article #blog-content {
    margin-top: 1em;
    padding-top: 1.5625em;
    border-top: 1px solid var(--primaryLight);
  }
  .blog-article #blog-content h1 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.75em;
    margin-bottom: 1rem;
    color: var(--headerColor);
  }
  .blog-article #blog-content h2 {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.5em;
    margin-bottom: 1rem;
    color: var(--headerColor);
  }
  .blog-article #blog-content h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5em;
    margin-bottom: 1rem;
    color: var(--headerColor);
  }
  .blog-article #blog-content h4,
  .blog-article #blog-content h5,
  .blog-article #blog-content h6 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5em;
    margin-bottom: 1rem;
    color: var(--headerColor);
  }
  .blog-article #blog-content p {
    font-size: 1rem;
    line-height: 1.6em;
    margin: 0;
    margin-bottom: 1rem;
    color: var(--bodyTextColorWhite);
  }
  .blog-article #blog-content a {
    font-size: inherit;
    text-decoration: underline;
    color: var(--primary);
  }
  .blog-article #blog-content ul,
  .blog-article #blog-content ol {
    margin: 0;
    margin: 1rem 0;
    padding-left: 2.5rem;
  }
  .blog-article #blog-content ul li,
  .blog-article #blog-content ol li {
    font-size: 1rem;
    line-height: 1.6em;
    list-style: circle;
    margin-bottom: 1rem;
    color: var(--bodyTextColorWhite);
  }
  .blog-article #blog-content img {
    width: 100%;
    height: auto;
    margin: 1rem 0;
    border-radius: 0.5rem;
    display: block;
  }
}
/*-- -------------------------- -->
<---           Footer           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #cs-footer {
    font-family: "Roboto", "Arial", sans-serif;
    /* 60px - 100px top and bottom */
    padding: clamp(3.75em, 7.82vw, 6.25em) 1em;
    background-color: #1a1a1a;
  }
  #cs-footer .cs-container {
    width: 100%;
    max-width: 80em;
    margin: auto;
  }
  #cs-footer .cs-logo-group {
    /* takes up all the space, lets the other ul's wrap below it */
    width: 100%;
    position: relative;
  }
  #cs-footer .cs-logo {
    /* 210px - 240px */
    width: clamp(13.125em, 8vw, 15em);
    height: auto;
    /* 28px - 44px */
    margin-bottom: clamp(1.75em, 4.17vw, 2.75em);
    display: block;
  }
  #cs-footer .cs-logo-img {
    width: 100%;
    height: auto;
  }
  #cs-footer .cs-text {
    /* changes to 521px at desktop */
    max-width: 21.5rem;
    margin: 0;
    margin-bottom: 2.5rem;
    color: var(--bodyTextColorWhite);
  }
  #cs-footer .cs-nav {
    margin: 0;
    /* 32px - 40px */
    margin-bottom: clamp(2em, 5.3vw, 2.5em);
    padding: 0;
    padding-left: 1em;
  }
  #cs-footer .cs-nav-li {
    line-height: 1.5em;
    list-style: none;
  }
  #cs-footer .cs-nav-li:last-of-type {
    margin-bottom: 0;
  }
  #cs-footer .cs-header {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5em;
    margin-bottom: 1.25rem;
    color: var(--bodyTextColorWhite);
    display: block;
    position: relative;
  }
  #cs-footer .cs-nav-link {
    font-size: 1rem;
    line-height: 1.5em;
    text-decoration: none;
    color: var(--bodyTextColorWhite);
    position: relative;
  }
  #cs-footer .cs-nav-link:before {
    /* underline */
    content: "";
    width: 0%;
    height: 0.125rem;
    /* current color of the parent */
    background: currentColor;
    opacity: 1;
    display: block;
    position: absolute;
    bottom: -0.125rem;
    left: 0;
    transition: width 0.3s;
  }
  #cs-footer .cs-nav-link:hover:before {
    width: 100%;
  }
  #cs-footer .cs-bottom {
    width: 100%;
    padding-left: 1em;
    position: relative;
  }
  #cs-footer .cs-copyright {
    font-size: 1rem;
    line-height: 1.5em;
    color: #b4b2c7;
    display: block;
  }
  #cs-footer .cs-social {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.75em;
    position: absolute;
    right: 1em;
    bottom: 0;
  }
  #cs-footer .cs-social-link {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #4e4b66;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: transform 0.3s, background-color 0.3s;
  }
  #cs-footer .cs-social-link:hover {
    background-color: var(--primary);
    transform: translateY(-0.1875rem);
  }
  #cs-footer .cs-social-img {
    width: auto;
    height: 0.8125rem;
    display: block;
  }
}
/* Inbetween - 600px */
@media only screen and (min-width: 37.5em) {
  #cs-footer .cs-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    /* 48px - 60px */
    column-gap: clamp(3em, 5.9vw, 3.75em);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48em) {
  #cs-footer .cs-logo-group {
    /* 20px - 60px */
    margin-bottom: clamp(1.25em, 4vw, 3.75em);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  #cs-footer .cs-logo {
    margin: 0;
  }
  #cs-footer .cs-text {
    text-align: right;
    width: 50%;
    max-width: 32.5625rem;
    margin: 0;
  }
  #cs-footer .cs-nav {
    padding: 0;
  }
  #cs-footer .cs-bottom {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #cs-footer .cs-social {
    flex-direction: row;
    position: relative;
    right: auto;
    /* reset these positions */
    bottom: auto;
  }
}

/*# sourceMappingURL=blog.css.map */
