/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-227 {
    /* Centers button */
    text-align: center;
    /* changes on tablet */
    padding: 0 1rem;
    position: relative;
    z-index: 1;
    /* prevents overflow from the lines extending past the screen width */
    overflow: hidden;
  }
  #hero-227 .cs-picture {
    /* Background Image */
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }
  #hero-227 .cs-picture:before {
    /* Black Color Overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
    /* prevents the cursor from interacting with it */
    pointer-events: none;
  }
  #hero-227 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes image act like a background-image */
    object-fit: cover;
  }
  #hero-227 .cs-container {
    width: 100%;
    max-width: 80rem;
    /* we put the padding top and bottom on the container instead of #Hero so the pseudo element lines go to the top and bottom of the section */
    /* 144px - 300px - leaving extra space for the navigation */
    /* changes on tablet */
    padding: clamp(9rem, 25.95vw, 18.75rem) 0 0;
    /* 60px - 200px */
    padding-bottom: clamp(3.75rem, 12.5vw, 25rem);
    margin: auto;
    position: relative;
  }
  #hero-227 .cs-container:before {
    /* Left Line */
    content: "";
    width: 1px;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(250, 251, 252, 0.5) 0%, rgba(250, 251, 252, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(250, 251, 252, 0.5) 0%, rgba(250, 251, 252, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
  }
  #hero-227 .cs-flex-group {
    /* 60px - 220px */
    margin-bottom: clamp(3.75rem, 15.5vw, 13.75rem);
    /* changes on tablet */
    margin-left: 1rem;
    width: 80vw;
    /* 464px - 562px */
    max-width: clamp(29rem, 60vw, 35.125rem);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  #hero-227 .cs-topper {
    font-family: Russo One, sans-serif;
    /* 13px - 16px */
    font-size: clamp(0.8125rem, 1.6vw, 1rem);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 0.1rem;
    font-weight: 700;
    color: var(--primaryLight);
    margin-bottom: 1rem;
    display: block;
  }
  #hero-227 .cs-title {
    font-family: var(--headerFont);
    font-style: italic;
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
    font-weight: 900;
    line-height: 1.2em;
    text-align: left;
    width: 100%;
    /* 32px - 40px */
    margin: 0 auto clamp(2rem, 4vw, 2.5rem) 0;
    color: var(--headerColor);
    position: relative;
  }
  #hero-227 .cs-text {
    font-family: var(--bodyFont);
    /* 16px - 20px */
    font-size: clamp(1rem, 1.95vw, 1.25rem);
    line-height: 1.5em;
    text-align: left;
    width: 100%;
    /* 32px - 40px */
    margin: 0 auto clamp(2rem, 4vw, 2.5rem) 0;
    /* 40px - 48px */
    margin-bottom: clamp(2.5rem, 4vw, 3rem);
    color: var(--bodyTextColorWhite);
  }
  #hero-227 .cs-button-solid {
    font-family: var(--topperFont);
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    width: 11.25rem;
    text-decoration: none;
    font-weight: 700;
    margin: 0 1.25rem 1rem 0;
    color: #000000;
    padding: 0;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    border-radius: 0.25rem;
  }
  #hero-227 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: white;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #hero-227 .cs-button-solid:hover:before {
    width: 100%;
  }
  #hero-227 .cs-button-transparent .cs-img {
    display: block;
    margin-right: 0.75rem;
  }
  #hero-227 .cs-card-group {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  #hero-227 .cs-item {
    list-style: none;
    position: relative;
    box-sizing: border-box;
  }
  #hero-227 .cs-item:before {
    /* Top Line */
    content: "";
    width: 100vw;
    height: 1px;
    background: -moz-linear-gradient(left, rgba(250, 251, 252, 0.5) 0%, rgba(250, 251, 252, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(250, 251, 252, 0.5) 0%, rgba(250, 251, 252, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  #hero-227 .cs-item:last-of-type:after {
    /* Bottom line on last card */
    content: "";
    width: 100vw;
    height: 1px;
    background: -moz-linear-gradient(left, rgba(250, 251, 252, 0.5) 0%, rgba(250, 251, 252, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(250, 251, 252, 0.5) 0%, rgba(250, 251, 252, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    opacity: 1;
    position: absolute;
    display: block;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  #hero-227 .cs-link {
    text-align: left;
    text-decoration: none;
    /* changes on tablet */
    padding: 1.75rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
  }
  #hero-227 .cs-link:hover:before {
    opacity: 0.4;
  }
  #hero-227 .cs-link:before {
    /* Hover Box */
    content: "";
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: 0;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.3s;
  }
  #hero-227 .cs-number {
    font-family: var(--topperFont);
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 900;
    /* 24px - 32px */
    margin-bottom: clamp(1.5rem, 4vw, 2rem);
    color: var(--primaryLight);
    display: block;
  }
  #hero-227 .cs-h2 {
    font-family: var(--headerFont);
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-weight: 900;
    line-height: 1.2em;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    color: var(--headerColor);
    position: relative;
    z-index: 10000;
  }
  #hero-227 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 3vw, 1rem);
    margin: 0;
    padding: 0;
    max-width: 31.25rem;
    color: var(--bodyTextColorWhite);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-227 {
    /* 32px - 40px */
    padding: 0 clamp(2rem, 5vw, 2.5rem);
  }
  #hero-227 .cs-container {
    padding-bottom: 4rem;
  }
  #hero-227 .cs-container:after {
    /* Right Line */
    content: "";
    width: 1px;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(250, 251, 252, 0) 0%, rgba(250, 251, 252, 0.5) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(250, 251, 252, 0) 0%, rgba(250, 251, 252, 0.5) 100%);
    /* Chrome10-25,Safari5.1-6 */
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
  }
  #hero-227 .cs-flex-group {
    /* 44px - 88px */
    margin-left: clamp(2.75rem, 5.9vw, 5.5rem);
  }
  #hero-227 .cs-button-solid {
    margin-bottom: 0;
  }
  #hero-227 .cs-card-group {
    flex-direction: row;
    position: relative;
  }
  #hero-227 .cs-card-group:before {
    /* Top Line */
    content: "";
    /* make it extend past the left and right of the screen */
    width: 150vw;
    height: 1px;
    background: -moz-linear-gradient(left, rgba(250, 251, 252, 0.5) 0%, rgba(250, 251, 252, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(250, 251, 252, 0.5) 0%, rgba(250, 251, 252, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    /* these two properties center the line horizontally */
    left: 50%;
    transform: translateX(-50%);
  }
  #hero-227 .cs-item:before {
    width: 1px;
    height: 100vh;
    background: -moz-linear-gradient(top, rgba(250, 251, 252, 0) 0%, rgba(250, 251, 252, 0.5) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(250, 251, 252, 0) 0%, rgba(250, 251, 252, 0.5) 100%);
    /* Chrome10-25,Safari5.1-6 */
    top: auto;
    left: auto;
    right: 0;
    bottom: -4rem;
  }
  #hero-227 .cs-item:nth-of-type(1):before {
    height: 39.375rem;
  }
  #hero-227 .cs-item:last-of-type:before,
  #hero-227 .cs-item:last-of-type:after {
    display: none;
  }
  #hero-227 .cs-link {
    /* 44px - 64px top & bottom, 48px - 88px left & right */
    padding: clamp(2.75rem, 5.9vw, 5.5rem) clamp(3rem, 5.9vw, 5.5rem);
  }
}
/* Desktop Parallax Effect - 1300px */
@media only screen and (min-width: 81.25rem) {
  #hero-227 {
    background: url(../images/hero.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* creates parallax effect on background image */
    background-attachment: fixed;
    /* remove img tag so we can make parallax work */
  }
  #hero-227 .cs-picture img {
    display: none;
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1099 {
    padding: var(--sectionPadding);
    background: #090909;
  }
  #sbs-1099 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    font-family: var(--bodyFont);
    color: var(--bodyTextColorWhite);
  }
  #sbs-1099 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-1099 .cs-topper {
    font-family: Russo One, sans-serif;
    color: var(--primaryLight);
  }
  #sbs-1099 .cs-title {
    color: var(--headerColor);
    font-style: italic;
  }
  #sbs-1099 .cs-text {
    margin-bottom: 1rem;
    line-height: 1.5em;
    color: var(--bodyTextColorWhite);
  }
  #sbs-1099 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-1099 .cs-ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }
  #sbs-1099 .cs-li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #sbs-1099 .cs-h3 {
    /* 20px - 25px */
    font-size: 1.25rem, 3vw, 1.5625rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 0.75rem;
    color: var(--headerColor);
  }
  #sbs-1099 .cs-li-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 39.375rem;
    margin: 0;
    color: var(--bodyTextColorWhite);
  }
  #sbs-1099 .cs-image-group {
    /* scales the whole group based on the view width size and stop when that vales equals .8em, resets at desktop */
    font-size: min(2.235vw, 0.8em);
    width: 40.5em;
    height: 37.125em;
    display: block;
    position: relative;
    z-index: 1;
  }
  #sbs-1099 .cs-picture {
    position: absolute;
  }
  #sbs-1099 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbs-1099 .cs-picture1 {
    width: 20.1875em;
    height: 27.9375em;
    top: 0;
    left: 0;
    z-index: 10;
  }
  #sbs-1099 .cs-picture2 {
    width: 19.0625em;
    height: 27.5625em;
    bottom: 0;
    right: 0;
  }
  #sbs-1099 .cs-stripes {
    width: 34.25em;
    height: auto;
    display: block;
    position: absolute;
    top: 5em;
    right: 2.5em;
    z-index: -1;
  }
  #sbs-1099 .cs-graphic {
    width: 11.5em;
    height: auto;
    position: absolute;
    bottom: 5em;
    right: 13.875em;
    z-index: 10;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-1099 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #sbs-1099 .cs-image-group {
    font-size: min(1.2vw, 1em);
    flex: none;
  }
}
/*-- -------------------------- -->
<---            Blog            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #blog-985 {
    padding: var(--sectionPadding);
    background-color: #ffea00;
    background-image: url("https://www.transparenttextures.com/patterns/grunge-wall.png");
  }
  #blog-985 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #blog-985 .cs-content {
    font-family: var(--bodyFont);
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #blog-985 .cs-topper {
    color: rgba(235, 235, 235, 0.926);
    background: black;
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    width: fit-content;
    line-height: normal;
    font-family: var(--topperFont);
  }
  #blog-985 .cs-title {
    font-style: italic;
    text-align: left;
    width: 100%;
    max-width: none;
    position: relative;
    color: black;
    font-weight: 900;
    margin-bottom: 0;
  }
  #blog-985 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 2rem;
    background-color: black;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    border-radius: var(--buttonRadius);
  }
  #blog-985 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #blog-985 .cs-button-solid:hover:before {
    width: 100%;
  }
  #blog-985 .cs-button-solid {
    /* prevents flexbox from squishing it */
    flex: none;
    font-family: var(--topperFont);
  }
  #blog-985 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
    position: relative;
  }
  #blog-985 .cs-item {
    font-family: var(--bodyFont);
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }
  #blog-985 .cs-item:hover {
    cursor: pointer;
  }
  #blog-985 .cs-item:hover .cs-info:before {
    opacity: 1;
    background-color: var(--primary);
  }
  #blog-985 .cs-item:hover .cs-picture img {
    transform: scale(1.15);
  }
  #blog-985 .cs-item:hover .cs-date {
    color: #fff;
  }
  #blog-985 .cs-item:hover .cs-icon {
    filter: brightness(150%);
  }
  #blog-985 .cs-item:hover .cs-link {
    color: #fff;
  }
  #blog-985 .cs-picture {
    width: 100%;
    height: 30rem;
    /* removed at tablet */
    aspect-ratio: 0.68333333;
    /* clips img tag from overflowing it on hover */
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.34);
  }
  #blog-985 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* makes sure the top of the image is at the top of the parent, heads won't get cut off this way */
    object-position: top;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: transform 0.9s;
  }
  #blog-985 .cs-info {
    width: 83%;
    max-width: 26.25rem;
    /* 16px - 24px */
    padding: clamp(1rem, 2vw, 1.5rem);
    /* prevents padding from affecting the height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
  }
  #blog-985 .cs-info:before {
    /* background-color */
    content: "";
    width: 100%;
    height: 100%;
    background: #1a1a1a;
    opacity: 0.8;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
    transition: background-color 0.3s, opacity 0.3s;
    border-radius: 0.5rem;
  }
  #blog-985 .cs-date {
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 1.25rem 0;
    color: #bababa;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    transition: color 0.3s;
  }
  #blog-985 .cs-icon {
    width: 1.25rem;
    height: auto;
    transition: filter 0.3s;
  }
  #blog-985 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 0.75rem 0;
    color: #fff;
    display: block;
  }
  #blog-985 .cs-desc {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0 0 1.25rem 0;
    color: #f7f7f7;
    display: block;
  }
  #blog-985 .cs-link {
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: 700;
    text-decoration: none;
    width: auto;
    margin: 0;
    color: var(--primary);
    display: inline-block;
    position: relative;
    transition: color 0.3s;
  }
  #blog-985 .cs-link:hover {
    color: #fff;
  }
  #blog-985 .cs-link:before {
    /* underline */
    content: "";
    width: 100%;
    height: 1px;
    background: currentColor;
    opacity: 1;
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    transition: background-color 0.3s;
  }
}
/* Tablet - 550px */
@media only screen and (min-width: 34.375rem) {
  #blog-985 .cs-content {
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 3rem;
  }
  #blog-985 .cs-title {
    margin: 0;
  }
  #blog-985 .cs-picture {
    /* remove the aspect ratio so the height can be squished */
    aspect-ratio: initial;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #blog-985 .cs-container {
    max-width: 80rem;
  }
  #blog-985 .cs-card-group {
    flex-direction: row;
  }
}
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-579 {
    background: #090909;
    font-family: var(--bodyFont);
  }
  #sbsr-579 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 7vw, 4rem);
  }
  #sbsr-579 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    /* moved section padding to the .cs-content so we can have the cs-picture be full width on mobile without the padding preventing it from doing so */
    padding: var(--sectionPadding);
    padding-top: 0;
    /* prevents padding from affecting width and height */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbsr-579 .cs-title {
    font-style: italic;
  }
  #sbsr-579 .cs-text {
    margin-bottom: 1rem;
  }
  #sbsr-579 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbsr-579 .cs-button-solid {
    font-family: var(--topperFont);
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #000000;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #sbsr-579 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #sbsr-579 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbsr-579 .cs-picture {
    display: block;
    position: relative;
    width: 100%;
    height: 18.75rem;
  }
  #sbsr-579 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbsr-579 {
    padding: var(--sectionPadding);
  }
  #sbsr-579 .cs-container {
    flex-direction: row;
    justify-content: flex-end;
    /* 60px - 128px */
    gap: clamp(3.75rem, 10vw, 8rem);
  }
  #sbsr-579 .cs-content {
    width: 53%;
    /* reset the padding, add the section padding back to the section container */
    padding: 0;
  }
  #sbsr-579 .cs-picture {
    width: 47vw;
    max-width: 30.875rem;
    /* 518px - 700px */
    height: clamp(32.375rem, 63vw, 43.75rem);
    /* 16px - 28px, added margin left and bottom to cs-picture so it pushes away by the same amount the yellow box element overlaps it left and bottom. This maintains consistent spacing left and bottom */
    margin: 0 0 clamp(1rem, 2.4vw, 1.75rem) clamp(1rem, 2.4vw, 1.75rem);
    position: relative;
    /* sends it to the right in the 2nd position */
    order: 2;
  }
  #sbsr-579 .cs-picture:before {
    /* yellow box */
    content: "";
    width: 50%;
    height: 60%;
    background: var(--primaryLight);
    opacity: 1;
    display: block;
    position: absolute;
    /* 16px - 28px, wrapped in calc function to multiple by negative 1 and get a negative clamp value */
    bottom: calc(clamp(1rem, 2.4vw, 1.75rem) * -1);
    right: calc(clamp(1rem, 2.4vw, 1.75rem) * -1);
  }
}
/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0rem) {
  #gallery-42 {
    padding: var(--sectionPadding);
    background-color: #090909;
    background-image: url("/assets/images/grass.webp");
  }
  #gallery-42 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #gallery-42 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #gallery-42 .cs-text {
    margin-bottom: 1rem;
    max-width: 39.375rem;
  }
  #gallery-42 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #gallery-42 .cs-link {
    font-size: 0.9375rem;
    font-weight: 700;
    text-decoration: none;
    line-height: 1.5em;
    width: 6.25rem;
    color: var(--headerColor);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #gallery-42 .cs-link:before {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 100%;
    background: currentColor;
    opacity: 1;
    bottom: -0.1875rem;
    left: 0;
  }
  #gallery-42 .cs-link:hover svg {
    transform: translateX(0.4375rem);
  }
  #gallery-42 .cs-link svg {
    width: 1.5rem;
    height: 1.5rem;
    transition: transform 0.3s;
  }
  #gallery-42 .cs-image-group {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 31vw);
    /* 16px - 20px */
    gap: clamp(0.5rem, 1.5vw, 1.25rem);
  }
  #gallery-42 .cs-picture {
    display: block;
    position: relative;
  }
  #gallery-42 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #gallery-42 .cs-picture-1 {
    grid-column: 1/span 6;
    grid-row: span 1;
  }
  #gallery-42 .cs-picture-2 {
    grid-column: 7/span 6;
    grid-row: span 1;
  }
  #gallery-42 .cs-picture-2 img {
    object-position: left 15%;
  }
  #gallery-42 .cs-picture-3 {
    grid-column: 1/span 12;
    grid-row: 2/span 2;
  }
  #gallery-42 .cs-picture-3 img {
    object-position: left 15%;
  }
  #gallery-42 .cs-picture-4 {
    grid-column: 1/span 12;
    grid-row: 4/span 2;
  }
  #gallery-42 .cs-picture-4 img {
    object-position: left 35%;
  }
  #gallery-42 .cs-picture-5 {
    grid-column: 1/span 6;
    grid-row: 6/span 1;
  }
  #gallery-42 .cs-picture-6 {
    grid-column: 7/span 6;
    grid-row: 6/span 1;
  }
}
/* Tablet */
@media only screen and (min-width: 48rem) {
  #gallery-42 .cs-content {
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
  }
  #gallery-42 .cs-flex {
    min-width: 45%;
  }
  #gallery-42 .cs-image-group {
    /* 116px - 210px */
    grid-template-rows: repeat(3, clamp(7.25rem, 16vw, 13.125rem));
  }
  #gallery-42 .cs-picture-1 {
    grid-column: 1/span 3;
    grid-row: 1/span 1;
  }
  #gallery-42 .cs-picture-2 {
    grid-column: 4/span 3;
    grid-row: 1/span 1;
  }
  #gallery-42 .cs-picture-3 {
    grid-column: 1/span 6;
    grid-row: 2/span 2;
  }
  #gallery-42 .cs-picture-4 {
    grid-column: 7/span 6;
    grid-row: 1/span 2;
  }
  #gallery-42 .cs-picture-5 {
    grid-column: 7/span 3;
    grid-row: 3/span 1;
  }
  #gallery-42 .cs-picture-6 {
    grid-column: 10/span 3;
    grid-row: 3/span 1;
  }
}

/*# sourceMappingURL=home.css.map */
