/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/roboto-v30-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* russo-one-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/russo-one-v16-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/
/* CodeStitch Root and Helpers */
@media only screen and (min-width: 0em) {
  :root {
    --primary: #fee202;
    --primaryLight: #ffb84e;
    --secondary: #001f3f;
    --secondaryLight: #001f3f;
    --headerColor: #fafbfcee;
    --bodyTextColor: #4e4b66;
    --bodyTextColorWhite: #dcdcdcf1;
    /* 13px - 16px */
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    /* 31px - 49px */
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;
    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
    --headerFont: Roboto, Arial, sans-serif;
    --topperFont: Russo One, Arial, sans-serif;
    --navFont: Russo One, Arial, sans-serif;
    --bodyFont: Roboto, Arial, sans-serif;
    --buttonRadius: 0.5rem;
  }
}
body {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  /* prevents padding from affecting height and width */
  box-sizing: border-box;
}

.cs-topper {
  font-family: var(--topperFont);
  font-size: var(--topperFontSize);
  line-height: 1.2em;
  text-transform: uppercase;
  text-align: inherit;
  letter-spacing: 0.1em;
  font-weight: 700;
  color: var(--primaryLight);
  margin-bottom: 0.25rem;
  display: block;
}

.cs-title {
  font-size: var(--headerFontSize);
  font-weight: 900;
  line-height: 1.2em;
  text-align: inherit;
  max-width: 43.75rem;
  margin: 0 0 1rem 0;
  color: var(--headerColor);
  position: relative;
}

.cs-text {
  font-size: var(--bodyFontSize);
  line-height: 1.5em;
  text-align: inherit;
  width: 100%;
  max-width: 40.625rem;
  margin: 0;
  color: var(--bodyTextColorWhite);
}

/*-- -------------------------- -->
<---     NAVIGATION             -->
<--- -------------------------- -*/
/* Hidden Screen reader skip nav button */
.skip {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1111111;
}

/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/
/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
  body.cs-open {
    overflow: hidden;
  }
  body {
    margin: 0;
    padding: 0;
  }
  #cs-navigation {
    --navbackground: transparent;
    /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
    font-family: Quattrocento, serif;
    width: 100%;
    height: 75px;
    padding: 0.75rem 1.25rem;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    background-color: var(--navbackground);
    position: fixed;
    left: 0;
    z-index: 10000;
    transition: background-color 0.15s;
    display: flex;
  }
  /* Class below sets navbar to white when the hamburger menu is clicked and the navbar has not scrolled enough to change to white yet. Basically for when the hamburger menu is opened when the site is loaded and haas not been scrolled yet */
  #cs-navigation.cs-active {
    background: var(--primary);
  }
  #cs-navigation.scrolled.cs-active {
    background: var(--primary);
  }
  #cs-navigation.scrolled {
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 8px 32px 0 rgba(113, 113, 113, 0.23);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
  }
  #cs-navigation:before {
    content: "";
    width: 100%;
    height: 0vh;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    display: block;
    top: 100%;
    right: 0;
    z-index: -1100;
    opacity: 0;
    transition: height 0.5s, opacity 0.5s;
  }
  #cs-navigation.cs-active:before {
    height: 150vh;
    opacity: 1;
  }
  #cs-navigation.cs-active .cs-ul-wrapper {
    opacity: 1;
    transform: scaleY(1);
    transition-delay: 0.15s;
  }
  #cs-navigation.cs-active .cs-li {
    transform: translateY(0);
    opacity: 1;
  }
  #cs-navigation .cs-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  #cs-navigation .cs-logo {
    /* min-width: 13rem; */
    /* max-width: 9.125rem; */
    height: 100%;
    margin: 0 auto 0 0;
    padding: 0;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 10;
  }
  /* Changes logo to black when scrolled */
  #cs-navigation.scrolled .cs-logo svg path {
    fill: #fee202;
  }
  /* Changes logo to black when burger menu is clicked and has not reached the insection observer value yet */
  #cs-navigation.cs-active .cs-logo svg path {
    fill: #000000;
  }
  #cs-navigation .cs-logo svg {
    min-width: clamp(5rem, 3.2353rem + 7.8431vw, 6.5rem);
    /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
  }
  #cs-navigation .cs-toggle {
    /* 44px - 48px */
    width: clamp(2.75rem, 6vw, 3rem);
    height: clamp(2.75rem, 6vw, 3rem);
    margin: 0 0 0 auto;
    border-radius: 0.25rem;
    background-color: transparent;
    border: none;
    display: flex;
    /* Changed to align right to make logo and hamburger icon look evenly spaced from the edge */
    justify-content: right;
    align-items: center;
    padding: 0;
    padding-top: 3px;
  }
  #cs-navigation .cs-active .cs-line1 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(225deg);
  }
  #cs-navigation .cs-active .cs-line2 {
    top: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
  }
  #cs-navigation .cs-active .cs-line3 {
    bottom: 100%;
    opacity: 0;
  }
  #cs-navigation .cs-box {
    /* 24px - 32px */
    width: clamp(1.375rem, 1.0909rem + 1.4205vw, 2rem);
    /* 16px - 22px */
    height: clamp(1rem, 0.8295rem + 0.8523vw, 1.375rem);
    position: relative;
  }
  #cs-navigation .cs-line {
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  /* Changes toggle to black when scrolled */
  #cs-navigation.scrolled .cs-line {
    background-color: white;
  }
  /* Changes logo to black when burger menu is clicked and has not reached the insection observer value yet */
  #cs-navigation.cs-active .cs-line {
    background-color: rgb(0, 0, 0);
  }
  #cs-navigation .cs-line1 {
    top: 0;
    transform-origin: center;
    transition: transform 0.5s, top 0.3s, left 0.3s;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-direction: normal;
  }
  #cs-navigation .cs-line2 {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: top 0.3s, left 0.3s, transform 0.5s;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-direction: normal;
  }
  #cs-navigation .cs-line3 {
    bottom: 0;
    transition: bottom 0.3s, opacity 0.3s;
  }
  #cs-navigation .cs-ul-wrapper {
    width: 100%;
    height: auto;
    padding-bottom: 2.4em;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 98%;
    left: 0;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.4s, opacity 0.3s;
    background: var(--primary);
    border-radius: 0 0 15px 15px;
  }
  #cs-navigation .cs-ul {
    margin: 0;
    padding: 2rem 0 0 0;
    width: 100%;
    height: auto;
    max-height: 65vh;
    overflow: scroll;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
  }
  #cs-navigation .cs-li {
    font-family: Quattrocento-700, "Arial", sans-serif;
    width: 100%;
    text-align: center;
    list-style: none;
    margin-right: 0;
    /* transition from these values */
    transform: translateY(-4.375rem);
    opacity: 0;
    transition: transform 0.6s, opacity 0.9s;
  }
  #cs-navigation .cs-li:nth-of-type(1) {
    transition-delay: 0.05s;
  }
  #cs-navigation .cs-li:nth-of-type(2) {
    transition-delay: 0.1s;
  }
  #cs-navigation .cs-li:nth-of-type(3) {
    transition-delay: 0.15s;
  }
  #cs-navigation .cs-li:nth-of-type(4) {
    transition-delay: 0.2s;
  }
  #cs-navigation .cs-li:nth-of-type(5) {
    transition-delay: 0.25s;
  }
  #cs-navigation .cs-li:nth-of-type(6) {
    transition-delay: 0.3s;
  }
  #cs-navigation .cs-li:nth-of-type(7) {
    transition-delay: 0.35s;
  }
  #cs-navigation .cs-li:nth-of-type(8) {
    transition-delay: 0.4s;
  }
  #cs-navigation .cs-li:nth-of-type(9) {
    transition-delay: 0.45s;
  }
  #cs-navigation .cs-li:nth-of-type(10) {
    transition-delay: 0.5s;
  }
  #cs-navigation .cs-li:nth-of-type(11) {
    transition-delay: 0.55s;
  }
  #cs-navigation .cs-li:nth-of-type(12) {
    transition-delay: 0.6s;
  }
  #cs-navigation .cs-li:nth-of-type(13) {
    transition-delay: 0.65s;
  }
  #cs-navigation .cs-li-link {
    font-family: var(--navFont);
    font-style: italic;
    /* 16px - 24px */
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    line-height: 1.2em;
    text-decoration: none;
    margin: 0;
    color: rgb(0, 0, 0);
    display: inline-block;
    position: relative;
  }
  #cs-navigation .cs-li-link:before {
    /* active state underline */
    content: "";
    width: 100%;
    height: 3px;
    background: currentColor;
    opacity: 1;
    position: absolute;
    display: none;
    bottom: -0.125rem;
    left: 0;
  }
  #cs-navigation .cs-li-link.cs-active:before {
    display: block;
  }
  #cs-navigation .cs-button-solid {
    display: none;
  }
  #cs-navigation #shop-button-m {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(1.75em, 5.5vw, 3.25em);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 8rem;
    padding: 0.5rem 0rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
}
/*-- -------------------------- -->
  <---     Desktop Navigation     -->
  <--- -------------------------- -*/
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  body {
    margin: 0;
    padding: 0;
  }
  #cs-navigation {
    --navbackground: transparent;
    /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
    font-family: Quattrocento, serif;
    width: 100%;
    padding: 0 1rem;
    background-color: var(--navbackground);
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    position: fixed;
    z-index: 10000;
    transition: background-color 0.3s;
  }
  #cs-navigation .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
  }
  /* Class below sets navbar to white when the hamburger menu is clicked and the navbar has not scrolled enough to change to white yet. Basically for when the hamburger menu is opened when the site is loaded and haas not been scrolled yet */
  #cs-navigation.scrolled {
    --navbackground: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  #cs-navigation .cs-toggle {
    display: none;
  }
  #cs-navigation .cs-logo {
    width: 18.4%;
    max-width: 21.875rem;
    height: 4.0625rem;
    /* margin-right auto pushes everything away from it to the right */
    margin: 0 auto 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  #cs-navigation .cs-logo svg {
    width: 100%;
    height: 100%;
    /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
    object-fit: contain;
  }
  /* Changes logo to black when scrolled */
  #cs-navigation.scrolled .cs-logo svg path {
    fill: black;
  }
  #cs-navigation .cs-ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* 20px - 36px */
    gap: clamp(1.25rem, 2.6vw, 2.25rem);
  }
  #cs-navigation .cs-li {
    list-style: none;
    padding: 1.5rem 0;
    /* prevent flexbox from squishing it */
    flex: none;
  }
  #cs-navigation .cs-li-link {
    font-family: Quattrocento-700, "Arial", sans-serif;
    /* 14px - 16px */
    font-size: clamp(1rem, 1vw, 1.25rem);
    line-height: 1.5em;
    text-decoration: none;
    margin: 0;
    color: white;
    display: block;
    position: relative;
  }
  #cs-navigation.scrolled .cs-li-link {
    color: black;
  }
  #cs-navigation .cs-li-link:hover:before {
    width: 100%;
  }
  #cs-navigation .cs-li-link.cs-active:before {
    width: 100%;
  }
  #cs-navigation .cs-li-link:before {
    /* active state underline */
    content: "";
    width: 0%;
    height: 2px;
    background: var(--primary);
    opacity: 1;
    position: absolute;
    display: block;
    bottom: 0rem;
    left: 0;
    transition: width 0.3s;
  }
  #cs-navigation .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #cs-navigation .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #cs-navigation .cs-button-solid:hover:before {
    width: 100%;
  }
  #cs-navigation #shop-button-m {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.575em, 5.5vw, 3.25em);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9rem;
    padding: 0.5rem 0.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: none;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
}

/*# sourceMappingURL=root.css.map */
