---
title: "Flair90 | Love the Game, Feel the Magic"
description: "Explore the vibrant world of football with engaging articles, legendary player profiles, and thrilling chronicles. Uncover the history, tactics, and culture that make football the beautiful game it is. Join us in celebrating the passion, skill, and excitement of the sport!"
preloadImg: "/assets/images/hero.webp"
permalink: "/"
eleventyNavigation:
    key: Home
    order: 100
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/home.css" />

<!-- Script for Netlify Identity -->
<script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script defer>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                });
            }
        });
    }
</script>
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-227">
    <div class="cs-container">
        <div class="cs-flex-group">
            <span class="cs-topper">Love the Game, Feel the Magic</span>
            <h1 class="cs-title">Experience the Magic of Football</h1>
            <p class="cs-text">Explore the passion, relive historic moments, and celebrate the magic of football with our curated content. Join us as we kick off a journey through the sport that unites us all.</p>
            <a href="/news" class="cs-button-solid">Explore More</a>
        </div>
        <!--Service Cards-->
        <ul class="cs-card-group">
            <li class="cs-item">
                <a class="cs-link" href="news/featured/transfer-news-round-up-last-of-2023/">
                    <span class="cs-number">1</span>
                    <h2 class="cs-h2">Transfer News Round Up - Last of 2023</h2>
                    <p class="cs-item-text">Explore the dynamic landscape of football transfers with our latest roundup. From Manchester City’s acquisition of Argentina’s young talent Claudio Echeverri to the intriguing contract decisions of Manchester United’s Raphael Varane.</p>
                </a>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="/history/legends/eusebio:-the-black-panther's-total-brilliance/">
                    <span class="cs-number">2</span>
                    <h2 class="cs-h2">Eusébio: The Black Panther's Total Brilliance</h2>
                    <p class="cs-item-text">In the tapestry of football history, few names resonate with as much brilliance as Eusébio da Silva Ferreira, the legendary Portuguese forward commonly known as Eusébio.</p>
                </a>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="/history/milestones/the-tactical-tango:-from-catenaccio's-defense-dance-to-tiki-taka's-possession-play/">
                    <span class="cs-number">3</span>
                    <h2 class="cs-h2">The Tactical Tango: From Catenaccio's Defense Dance to Tiki-Taka's Possession Play</h2>
                    <p class="cs-item-text">In this exploration, we'll unravel the intricacies of two pivotal tactical styles: Catenaccio and Tiki-Taka.</p>
                </a>
            </li>
        </ul>
    </div>

    <!-- Background Image -->
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="./assets/images/her-m-1.webp" />
        <source media="(min-width: 601px)" srcset="./assets/images/hero.webp" />
        <img decoding="async" src="./assets/images/hero-m.webp" alt="mountains" width="2250" height="1500" aria-hidden="true" />
    </picture>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1099">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="./assets/images/jude-m.webp" />
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="./assets/images/jude-m.webp" />
                <img loading="lazy" decoding="async" src="./assets/images/jude-m.webp" alt="Jude Bellingham Celebration" width="323" height="447" />
            </picture>
            <!--Bottom right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="./assets/images/mr-m.webp" />
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="./assets/images/mr-m.webp" />
                <img loading="lazy" decoding="async" src="./assets/images/mr-m.webp" alt="Messi and Ronaldinho" width="305" height="441" />
            </picture>
            <!--Stripe background-->
            <img class="cs-stripes" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/stripes-short.svg" alt="stripes" width="548" height="487" aria-hidden="true" />
            <!--Eclipses-->
            <img class="cs-graphic" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/eclipses.svg" alt="stripes" width="140" height="140" aria-hidden="true" />
        </div>
        <div class="cs-content">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">Your Ultimate Destination for all things Football</h2>
            <p class="cs-text">Welcome to Flair90, where football comes to life. At Flair90, we are more than just a platform; we are passionate storytellers, dedicated to capturing the essence, excitement, and spirit of the world's most beloved sport. Dive into our rich tapestry of content, where every article, fact, story, and media piece is crafted to ignite the love for football that unites fans worldwide..</p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <h3 class="cs-h3">Mission Statement</h3>
                    <p class="cs-li-text">At Flair90, our mission is clear: to be the definitive destination for football enthusiasts seeking a deeper connection to the game. We strive to provide engaging, insightful, and diverse content that celebrates the beauty, history, and culture of football. Whether you're a seasoned fan or just starting your football journey, we aim to be your go-to source for discovering, understanding, and enjoying every facet of this extraordinary sport. Join us as we kick off a celebration of football, where every page tells a story and every moment is a testament to the magic of the beautiful game.</p>
                </li>
                <li class="cs-li">
                    <h3 class="cs-h3">Score with Flair90! ⚽</h3>
                    <p class="cs-li-text">Fuel your football fervor with us! From epic goals to off-field giggles, we've got your daily dose of football fun. Explore, enjoy, and let's share the joy of the beautiful game!</p>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                    History                      -->
<!-- ============================================ -->

<section id="blog-985">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">History</span>
                <h2 class="cs-title">Timeless Tales: Uncover Football's Past</h2>
            </div>
            <!-- <a href="" class="cs-button-solid">View All</a> -->
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="./assets/images/cruyff-m.webp" />
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="./assets/images/cruyff-m.webp" />
                    <img loading="lazy" decoding="async" src="./assets/images/cruyff-m.webp" alt="stylist" width="413" height="480" />
                </picture>
                <div class="cs-info">
                    <span class="cs-date">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/calendar.svg" alt="Cruyff" width="20" height="20" />
                        07 Sep, 2022
                    </span>
                    <h3 class="cs-h3">Total Football: A Revolution by the Dutch</h3>
                    <span class="cs-desc"> In the landscape of football history, certain moments stand as milestones, forever alte... </span>
                    <a href="" class="cs-link">Read More</a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="./assets/images/Eusebio-m.webp" />
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="./assets/images/Eusebio-m.webp" />
                    <img loading="lazy" decoding="async" src="./assets/images/Eusebio-m.webp" alt="stylist" width="413" height="480" />
                </picture>
                <div class="cs-info">
                    <span class="cs-date">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/calendar.svg" alt="stylist" width="20" height="20" />
                        07 Sep, 2022
                    </span>
                    <h3 class="cs-h3">Eusébio: The Black Panther's Total Brilliance</h3>
                    <span class="cs-desc"> In the tapestry of football history, few names resonate with as much brilliance as Eusébio </span>
                    <a href="/history/legends/eusebio:-the-black-panther's-total-brilliance/" class="cs-link">Read More</a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="./assets/images/Uruguay-m.webp" />
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="./assets/images/Uruguay-m.webp" />
                    <img loading="lazy" decoding="async" src="./assets/images/Uruguay-m.webp" alt="stylist" width="413" height="480" />
                </picture>
                <div class="cs-info">
                    <span class="cs-date">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/calendar.svg" alt="stylist" width="20" height="20" />
                        07 Sep, 2022
                    </span>
                    <h3 class="cs-h3">The Maracanazo: Uruguay's Triumph in 1950 World Cup</h3>
                    <span class="cs-desc"> In the storied history of the FIFA World Cup, few moments resonate with the seismic ...</span>
                    <a href="" class="cs-link">Read More</a>
                </div>
            </li>
        </ul>
        <a href="/legends" class="cs-button-solid">View All</a>
    </div>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-579">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 767px)" srcset="./assets/images/Argentina-m.webp" />
            <!--Tablet and above Image-->
            <source media="(min-width: 768px)" srcset="./assets/images/Materazzi.webp" />
            <img loading="lazy" decoding="async" src="./assets/images/Argentina-m.webp" alt="room" width="494" height="700" />
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Chronicles</span>
            <h2 class="cs-title">Journey Beyond the Pitch: Unveiling "Chronicles"</h2>
            <p class="cs-text">In the realm of the beautiful game, where each match unfolds a story, there exists a space that goes beyond the final whistle—a space we call "Chronicles." Here, we invite you to explore the heartbeat of football, where tales of triumph, resilience, and pure passion come to life.</p>
            <p class="cs-text">From the iconic moments etched in history to the untold stories that resonate in the stands, "Chronicles" is your gateway to the narratives that make football more than just a sport. Join us as we unravel the pages of football history, one compelling chronicle at a time.</p>
            <a href="/rivalries" class="cs-button-solid">Visit Chronicles</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->

<section id="gallery-42">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Media</span>
            </div>
        </div>
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture-1">
                <source media="(max-width: 600px)" srcset="./assets/images/Argentina-m.webp" />
                <source media="(min-width: 601px)" srcset="./assets/images/Argentina-m.webp" />
                <img loading="lazy" decoding="async" src="./assets/images/Argentina-m.webp" alt="Argentina Champions of the world" width="380" height="271" />
            </picture>
            <picture class="cs-picture cs-picture-2">
                <source media="(max-width: 600px)" srcset="./assets/images/arsenal.webp" />
                <source media="(min-width: 601px)" srcset="./assets/images/arsenal.webp" />
                <img loading="lazy" decoding="async" src="./assets/images/arsenal.webp" alt="formal dinner" width="380" height="271" />
            </picture>
            <picture class="cs-picture cs-picture-3">
                <source media="(max-width: 600px)" srcset="./assets/images/italy.webp" />
                <source media="(min-width: 601px)" srcset="./assets/images/italy.webp" />
                <img loading="lazy" decoding="async" src="./assets/images/italy.webp" alt="formerly dress you people outside" width="780" height="582" />
            </picture>
            <picture class="cs-picture cs-picture-4">
                <source media="(max-width: 600px)" srcset="./assets/images/milan.webp" />
                <source media="(min-width: 601px)" srcset="./assets/images/milan.webp" />
                <img loading="lazy" decoding="async" src="./assets/images/milan.webp" alt="recital" width="780" height="582" />
            </picture>
            <picture class="cs-picture cs-picture-5">
                <source media="(max-width: 600px)" srcset="./assets/images/hero.webp" />
                <source media="(min-width: 601px)" srcset="./assets/images/hero.webp" />
                <img loading="lazy" decoding="async" src="./assets/images/hero.webp" alt="formal evening" width="380" height="271" />
            </picture>
            <picture class="cs-picture cs-picture-6">
                <source media="(max-width: 600px)" srcset="./assets/images/blog/eusebio-blog.webp" />
                <source media="(min-width: 601px)" srcset="./assets/images/blog/eusebio-blog.webp" />
                <img loading="lazy" decoding="async" src="./assets/images/blog/eusebio-blog.webp" alt="formal dinner" width="380" height="271" />
            </picture>
        </div>
    </div>
</section>

{% include 'components/cta.html' %} {% endblock %}
