---
title: "Flair90 | Love the Game, Feel the Magic"
description: "Meta description for the page"
preloadImg: "/assets/images/hero.jpeg"
permalink: "/"
eleventyNavigation:
    key: Home
    order: 100
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/home.css" />

<!-- Script for Netlify Identity -->
<script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script defer>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                });
            }
        });
    }
</script>
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-227">
    <div class="cs-container">
        <div class="cs-flex-group">
            <span class="cs-topper">Love the Game, Feel the Magic</span>
            <h1 class="cs-title">Experience the Magic of Football</h1>
            <p class="cs-text">Explore the passion, relive historic moments, and celebrate the magic of football with our curated content. Join us as we kick off a journey through the sport that unites us all.</p>
            <a href="" class="cs-button-solid">Explore More</a>
        </div>
        <!--Service Cards-->
        <ul class="cs-card-group">
            <li class="cs-item">
                <a class="cs-link" href="">
                    <span class="cs-number">1</span>
                    <h2 class="cs-h2">Unraveling Legends: The Journey of Messi and Ronaldo</h2>
                    <p class="cs-item-text">Dui sapien eget mi proin sed libero enim sed. Commodo elit at imperdiet dui accumsan sit amet nulla facilisi.</p>
                </a>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="">
                    <span class="cs-number">2</span>
                    <h2 class="cs-h2">Tactical Brilliance: Breaking Down Italy's Euro 2020 Triumph</h2>
                    <p class="cs-item-text">Dui sapien eget mi proin sed libero enim sed. Commodo elit at imperdiet dui accumsan sit amet nulla facilisi.</p>
                </a>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="">
                    <span class="cs-number">3</span>
                    <h2 class="cs-h2">Goal Fest: Top 10 Goals of the Month</h2>
                    <p class="cs-item-text">Dui sapien eget mi proin sed libero enim sed. Commodo elit at imperdiet dui accumsan sit amet nulla facilisi.</p>
                </a>
            </li>
        </ul>
    </div>

    <!-- Background Image -->
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="./assets/images/hero.jpeg" />
        <source media="(min-width: 601px)" srcset="./assets/images/hero.jpeg" />
        <img decoding="async" src="./assets/images/hero.jpeg" alt="mountains" width="2250" height="1500" aria-hidden="true" />
    </picture>
</section>

{% endblock %}
